<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if @nav == :home %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if @nav == :projects %>">
            <%= link_to 'Projects', :projects %>
          </li>

          <% if logged_in? %>
            <li class="divider-vertical"></li>
            <li class="<%= 'active' if @nav == :my_projects %>">
              <%= link_to 'My Projects', [:my, :projects] %>
            <li>
          <% end %>

        </ul>
      </div><!--/.nav-collapse -->

      <div class="pull-right">
        <% if logged_in? %>
          <%= link_to 'Logout', :session, :method => :delete, class: 'btn' %>
        <% else %>
          <%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary' %>
          <%= link_to 'Sign In', [:new, :session], class: 'btn btn-success' %>
        <% end %>
      </div>

    </div>
  </div>
</div>