<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/shared/nav' %>

<div class="container">

	<% if flash[:notice] %>
		<div class="alert alert-success">
			<%= flash[:notice] %>
		</div>
	<% elsif flash[:alert] %>
		<div class="alert alert-error">
			<%= flash[:alert] %>
		</div>
	<% end %>

	<%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
